---
import astroLogo from '../assets/astro.svg';
import background from '../assets/colegio.jpeg';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<img src="" alt="">
	<main>
	</main>